.home {
    padding: 20px;
    flex: 4;
}

.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredtitle {
    font-size: 20px;
}

.featuredMoneyContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.feat {
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.arrow {
    font-size: 14px !important;
    margin-left: 5px;
    color: green;
}

.arrow.negative {
    color: red;
}

.featuredSub {
    font-size: 15px;
    color: gray;
}