.pies {
    margin: 20px;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.pieContainer {
    width: 100%;
    height: 100%;
}