.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(235, 235, 235);
    position: sticky;
    top: 50px;
}

.sidebarwrapper {
    padding: 20px;
    color: #555;
}

.sidebarmenu {
    margin-bottom: 10px;
}

.sidebartitle {
    font-size: 13px;
    color: rgb(199, 199, 199);
}

.sidebarlist {
    list-style: none;
    padding: 5px;
}

.sidebaritem {
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebaritem.active,
.sidebaritem:hover {
    background-color: rgb(219, 219, 219);
}

.sidebaricon {
    margin-right: 5px;
    font-size: 20px !important;
}